.add {
	width: 100%;
}

.flex-container {
	padding: 3%;
	display: flex;
	background-color: rgb(47, 5, 116);
	width: 30%;
	height: 30vh;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
